.info {
  background-color: dodgerblue;
  padding: 10px;
  color: white !important;
}

.info.error {
  background-color: rgb(240, 200, 200);
  color: darkred;
}

.border {
  border: 1px solid dodgerblue;
}

.padding {
  padding: 10px;
}
